@{
  Layout = "_Layout";
}

@model PierresSite.Models.Flavor

<h4>Add a new flavor</h4>

@using (Html.BeginForm())
{
  <div>
    @Html.LabelFor(model => model.Description)
    @Html.TextBoxFor(model => model.Description)
  </div>

  <div>
    @Html.Label("Select treat")
    @Html.DropDownList("TreatId")
  </div>

  <div>
    <input type="submit" value="Add new flavor" class="btn btn-default" />
  </div>

}
<div>
  <p>@Html.ActionLink("Show all flavors", "Index")</p>
</div>
